name: Simple CI

on:
  push:
    branches: [main]
  pull_request:


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - run: |
          pip install -r requirements-dev.txt
          ruff check .
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install .
          pytest
  
  docker-build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      
      - name: Build docker image
        run: docker build -t simple-web-app:${{ github.sha }} .

      - name: Run container
        run: |
          docker run -d -p 8000:8000 -name test-container simple-web-app:${{ github.sha }}
          sleep 5
          curl --fail http://localhost:8000/health
