name: Simple CI

on:
  push:
    branches: [main]
  pull_request:


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - name: Install requirements-dev
        run: |
          pip install -r requirements-dev.txt
      
      - name: Run Ruff
        run: |
          ruff check . | tee ruff.txt
      
      - name: Add Ruff summary
        if: always()
        run: |
          echo "## Ruff Lint results" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat ruff.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      
      - name: Install requirements
        run: |
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
          pip install -e .
      
      - name: Run tests with coverage
        run: |
          pytest --cov=app --cov-report=term | tee pytest.txt
      
      - name: Add coverage summary
        if: always()
        run: |
          echo "## Test Coverage" >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat pytest.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
         
  docker-build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      
      - name: Build docker image
        run: docker build -t simple-web-app:${{ github.sha }} .

      - name: Run container
        run: |
          docker run -d -p 8000:8000 --name test-container simple-web-app:${{ github.sha }}
          for i in {1..10}; do
            if curl -s http://localhost:8000/health; then
              echo "App is up"
              curl "http://localhost:8000/add?left=10&right=-12"
              exit 0
            fi
            sleep 2
          done
          echo "App failed to start"
          docker logs test-container
          exit 1
